.app-wrapper {
  display: grid;
}

.app-header {
  z-index: 1;
  position: absolute;
  right: 10px;
}

.app-intro-bg {
  grid-area: 1/1;
  opacity: 0.15;
}

.app-intro {
  grid-area: 1/1; /* By using the same grid area as background, they are stacked on top of each other */
  position: relative;
  place-items: center; /* This centers the other elements inside the hero component */
  display: grid;
}

.section-body {
  padding: 8px 0px;
}

.section-color-primary {
  background-color: #efecec;
}

.section-color-secondary {
  background-color: white;
}
